*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
div h1{
  font-size: 3vw;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span{
  font-size: 10vw;
}